@model ApplicationLayer.DTOs.EmployeeDTO1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />


    <div class="row">
        <div class="col-8">
            <div class="col">@Html.DisplayNameFor(model => model.LastName) : </div>
            <div class="col">@Html.DisplayFor(model => model.LastName)</div>

            <div class="w-100"></div>

            <div class="col">@Html.DisplayNameFor(model => model.FirstName) : </div>
            <div class="col">@Html.DisplayFor(model => model.FirstName)</div>
        </div>

        <div class="col-4">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))">
        </div>





        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.Title) : </div>
        <div class="col-4">@Html.DisplayFor(model => model.Title)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.TitleOfCourtesy) : </div>
        <div class="col">@Html.DisplayFor(model => model.TitleOfCourtesy)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.BirthDate) : </div>
        <div class="col">@Html.DisplayFor(model => model.BirthDate)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.HireDate) : </div>
        <div class="col">@Html.DisplayFor(model => model.HireDate)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.Address) : </div>
        <div class="col">@Html.DisplayFor(model => model.Address)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.City) : </div>
        <div class="col">@Html.DisplayFor(model => model.City)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.Region) : </div>
        <div class="col">@Html.DisplayFor(model => model.Region)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.PostalCode) : </div>
        <div class="col">@Html.DisplayFor(model => model.PostalCode)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.Country) : </div>
        <div class="col">@Html.DisplayFor(model => model.Country)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.HomePhone) : </div>
        <div class="col">@Html.DisplayFor(model => model.HomePhone)</div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.Extension) : </div>
        <div class="col">@Html.DisplayFor(model => model.Extension) </div>

        <div class="w-100"></div>

        <div class="col-4">@Html.DisplayNameFor(model => model.Notes) : </div>
        <div class="col"> @Html.DisplayFor(model => model.Notes)</div>

        <div class="w-100"></div>

        <div class="col-4"> Reports to : </div>
        <div class="col"> @Html.DisplayFor(model => model.Employee1.LastName)</div>

        <div class="w-100"></div>

        <div class="col-4"> </div>
        <div class="col"> </div>
    </div>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
